@model WebMVC.Models.Entity.Manager
@{
    ViewBag.Title = "ManagerUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin: 5em auto" class="container">
    <h2 style="text-align:center;">Yonetici Guncelle</h2>
    <hr />

    <form class="form-group" method="post">

        <br />
        @Html.Label("ID")
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })

        <br />
        @Html.Label("Yonetici Name")
        @Html.TextBoxFor(m => m.AdminName, new { @class = "form-control" })

        <br />
        @Html.Label("Yonetici Sifre")
        @Html.TextBoxFor(m => m.AdminPassword, new { @class = "form-control" })

        <br />
        <button type="submit" style="width: 100%; font-size:20px" class="btn btn-info"><i class="fas fa-wrench"></i> Guncelle</button>
    </form>


</div>

