@model WebMVC.Models.Entity.OperationClaim

@{
    ViewBag.Title = "OperationUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin: 5em auto" class="container">
    <h2 style="text-align:center;">R O L E K L E</h2>
    <hr />

    <form class="form-group" method="post">

        <br />
        @Html.Label("Operation Claim Id")
        @Html.TextBoxFor(c => c.Id, new { @class = "form-control disabled" })
        @Html.ValidationMessageFor(c => c.Name, "")

        <br />
        @Html.Label("Operation Claim Name")
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })


        <br />
        <button type="submit" style="width: 100%; font-size:20px" class="btn btn-info"><i class="fas fa-edit"></i> Guncelle</button>
    </form>


</div>

