@using WebMVC.Models.Entity;
@model List<Skil>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{string renk = "";}
@{string labelRenk = "";}

<h1 style="text-align:center">Yeteneklerim</h1>
<hr />
<div class="container">
    <div class="card mt-5">
        @foreach (var skil in Model)
        {
            if (skil.SkilRate >= 0 && skil.SkilRate <= 50)
            {
                renk = "progress-bar bg-danger";
                labelRenk = "badge bg-danger";
            }
            if (skil.SkilRate >= 50 && skil.SkilRate <= 71)
            {
                renk = "progress-bar bg-warning";
                labelRenk = "badge bg-warning";
            }
            if (skil.SkilRate >= 71 && skil.SkilRate <= 84)
            {
                renk = "progress-bar bg-primary";
                labelRenk = "badge bg-primary";
            }
            if (skil.SkilRate >= 84 && skil.SkilRate <= 100)
            {
                renk = "progress-bar bg-success";
                labelRenk = "badge bg-success";
            }
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">ID</th>
                            <th>Yetenek</th>
                            <th>Derece</th>
                            <th style="width: 40px">Oran</th>
                            <th>Islemler</th>
                        </tr>
                    </thead>
                    <tbody>


                        <tr>
                            <td>@skil.Id.</td>
                            <td>@skil.SkilName</td>
                            <td>
                                <div class="progress progress-xs">
                                    <div class="@renk" style="width:@skil.SkilRate%"></div>
                                </div>
                            </td>
                            <td><span class="@labelRenk">@skil.SkilRate%</span></td>
                            <td>
                                <a style="width:20%" href="/Skils/SkilDelete/@skil.Id" class="btn btn-danger"><i class="fas fa-trash"></i> Sil</a>
                                <a href="/Skils/SkilUpdate/@skil.Id" class="btn btn-warning"><i class="fas fa-edit"></i> Duzenle</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        }
        <button class="btn btn-outline-primary" data-toggle="modal" style="width:10%;" data-target="#Modal1">EKLE</button>
    </div>

    <div class="modal" id="Modal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" style="padding-left: 2.5em "> Yetenek Ekleme </h2>
                </div>
                <form method="post" action="/Skils/SkilAdd/">
                    <div class="modal-body">
                        <label> Yetenek Ismi</label>
                        <input type="text" name="SkilName" class="form-control" />
                        <br />

                        <label> Yetenek Orani</label>
                        <input type="number" name="SkilRate" class="form-control" />
                        <br />

                        <button class="btn btn-info"> Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


