@model WebMVC.Models.Entity.Skil
 
@{
    ViewBag.Title = "SkilUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin: 5em auto" class="container">
    <h2 style="text-align:center">Yetenek Guncelle</h2>
    <hr />

    <form class="form-group" method="post">

        @Html.Label("ID")
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control disabled" })

        <br />
        @Html.Label("Yetenek Ismi")
        @Html.TextBoxFor(x => x.SkilName, new { @class = "form-control" })

        <br />
        @Html.Label("Yetenek Orani")
        @Html.TextBoxFor(x => x.SkilRate, new { @class = "form-control" })

        <br />
        <button type="submit" style="width: 100%; font-size:20px" class="btn btn-info"><i class="fas fa-wrench"></i> Guncelle</button>
    </form>


</div>
