@model WebMVC.Models.Entity.Award

@{
    ViewBag.Title = "AwardUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin: 5em auto" class="container">
    <h2 style="text-align:center">Guncelle</h2>
    <hr />

    <form class="form-group" method="post">

        @Html.Label("ID")
        @Html.TextBoxFor(a => a.Id, new { @class = "form-control disabled" })

        <br />
        @Html.Label("Odul ismi")
        @Html.TextBoxFor(a => a.award1, new { @class = "form-control" })

        <br />
        @Html.Label("Resim")
        @Html.TextBoxFor(a => a.image, new { @class = "form-control" })

        <br />
        <button type="submit" style="width: 100%; font-size:20px" class="btn btn-info"><i class="fas fa-wrench"></i> Guncelle</button>
    </form>


</div>

